<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/index.css" type="text/css" />
    <link rel="stylesheet" href="/styles/footer.css" type="text/css" />


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script>const currUser = "<%= currUser %>";</script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/location_app.js"></script>


    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

     <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arbutus+Slab" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Chivo" rel="stylesheet">

  </head>

  <body>
    <% include partials/navbar %>

    <div class="jumbotron jumbotron-fluid">
    <div class="container">
    <h1 class="display-4 main-heading">Doughnuts anytime</h1>
    <p class="lead subheading">Doughnuts anywhere.</p>
    <form method="GET" action="/locations/1">
      <select id="select_loc" name="locations">
      </select>
    </form>
<!--     <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Choose location
      </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Location 1</a>
      <a class="dropdown-item" href="#">Location 2</a>
  </div> -->
</div>
    </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-8"><p>Tart gummi bears pie pastry. Liquorice carrot cake ice cream candy bonbon tiramisu icing lemon drops bear claw. Cake cookie jelly beans. Pudding gummi bears chocolate cake pudding sugar plum cheesecake donut bonbon bear claw.</p></div>
        <div class="col-4"><p>Yum donuts</p></div>
      </div>
    </div>

    <% include partials/footer %>


  </body>
</html>
