<!doctype html>
<html lang="en">
  <head>
    <title>Order processing</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
    <link rel="stylesheet" href="/styles/footer.css" type="text/css" />
    <link rel="stylesheet" href="/styles/order_purgatory.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script>const clientPhone = "<%= clientPhone %>";</script>
    <script type="text/javascript" src="/scripts/order-purgatory.js"></script>


    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arbutus+Slab" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Chivo" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>

  <body>

  <% include partials/navbar %>



  <?xml version="1.0" encoding="UTF-8"?>
  <svg width="361px" height="214px" viewBox="0 0 361 214" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <!-- Generator: Sketch 52.2 (67145) - http://www.bohemiancoding.com/sketch -->
      <title>iMessage Typing@0.5x</title>
      <desc>Created with Sketch.</desc>
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Desktop-HD" transform="translate(-527.000000, -180.000000)" stroke-width="7">
              <g id="iMessage-Typing" transform="translate(531.000000, 180.000000)">
                  <circle id="Trailing" stroke="#aa4465" cx="15.0776567" cy="195.036785" r="15.0776567"></circle>
                  <path d="M81.5444133,176.926869 L83.4264464,174.555463 L86.0441881,176.076332 C99.5684993,183.933757 114.942379,188.132153 130.93733,188.132153 L264,188.132153 C313.429485,188.132153 353.5,148.061638 353.5,98.6321526 L353.5,93 C353.5,43.5705149 313.429485,3.5 264,3.5 L130.93733,3.5 C81.5078446,3.5 41.4373297,43.5705149 41.4373297,93 L41.4373297,98.6321526 C41.4373297,107.636204 42.7660199,116.457741 45.3506377,124.892169 L46.171317,127.570306 L43.738137,128.957955 C34.5696213,134.186782 28.7915531,143.920712 28.7915531,154.667575 L28.7915531,158.558583 C28.7915531,174.891615 42.0320912,188.132153 58.3651226,188.132153 C67.5121192,188.132153 75.9648006,183.957312 81.5444133,176.926869 Z" id="Body" stroke="#aa4465"></path>
                  <circle id="Elipse-1" stroke="#93e1d8" cx="127.916894" cy="95.8160763" r="25.7779292"></circle>
                  <circle id="Elipse-2" stroke="#93e1d8" cx="197.955041" cy="95.8160763" r="25.7779292"></circle>
                  <circle id="Elipse-3" stroke="#93e1d8" cx="267.993188" cy="95.8160763" r="25.7779292"></circle>
              </g>
          </g>
      </g>
  </svg>



  <div class="container">
    <h1>ORDER PLACED</h1>
    <p>We'll send you a pickup time via text when your order is confirmed.</p>

    <!-- /container -->
  </div>

  <% include partials/footer %>

 </body>
</html>
