<!doctype html>
<html lang="en">
  <head>
    <title>Order confirmed</title>
    <script type="text/javascript" src="/scripts/clear-cart-cookies.js"></script>

  </head>

  <body>
    order confirmed! check phone for details.
  </body>

</html>
