#cart {

  background-color: #ffa69e;
  font-family: 'Arbutus Slab', serif;
   box-shadow: 3px 3px 5px 6px #ccc;


  .row {
    margin-bottom: 30px;
 /*   border: 2px #861657 solid;*/

    }

  .cartheading {
    text-align: center;
    font-size: 2em;
    color: white;
    margin-bottom: 30px;

  }

  .totalcart {
    text-align: center;
    margin-bottom: 10px;
  }

  .finaltotal {
    margin-top: 20px;
  }



  .col-lg {
    text-align: center;
  }

  .material-icons {
    cursor: pointer;

  }

  .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #aa4465!important;
    border-color: #861657!important;
    width: 150px;
    border-radius: 5px;
    margin-top: 5px;
    font-family: 'Arbutus Slab', serif;

}

}
