.jumbotron {

  background-image: url("https://source.unsplash.com/BIURP_seJS8");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: hsla(0,0%,100%,0.70);
  background-blend-mode: overlay;


}



#mission {
color: #861657;

}

#minilogo {
  font-family: 'Bungee Shade', cursive;
  color: #861657;

}


.center {
  text-align: center;
  margin: 70px 0;
}



