.jumbotron {

  background-image: url("https://source.unsplash.com/BIURP_seJS8");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: hsla(0,0%,100%,0.70);
  background-blend-mode: overlay;

}

