.navbar {
  background-color: #ddfff7;
  font-family: 'Chivo', sans-serif;
}

#logo {
  font-family: 'Bungee Shade', cursive;
  color: #861657;
  font-size: 2em;
}

#sign-in-button {
  border-radius: 5px;
  background-color: #93e1d8;
  border-color: #93e1d8;
}

.navbar-light .navbar-nav .nav-link {
  color: #861657!important;
}


