svg {
  display: block;
  margin: 7em auto;
}

.container h1 {
  text-align: center;
  font-family: 'Bungee Shade', cursive;
  color: #aa4465;
}

p {
  text-align: center;
  font-family: 'Chivo', sans-serif;
  padding-bottom: 7em
}

